node_modules
dist
coverage
.vite
.eslintcache
*.tsbuildinfo

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.git
.github
.idea
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
